<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>Результаты запросов:</h1>
<ul>
{% for key,value in data %}
   {%if value is iterable%}
    {%if key == 'firstQuery' %}</li>
        <h1>Первый запрос:</h1>
        {% for k, val in value%}
            {%if val is iterable%}
                {% for ind, v in val%}
                    <li>{{v}}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {%endif%}

    {%if key == 'secondQuery' %}</li>
        <h1>Второй запрос:</h1>
        {% for k, val in value%}
            {%if val is iterable%}
                {% for ind, v in val%}
                    <li>{{v}}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {%endif%}

    {%if key == 'thirdQuery' %}</li>
        <h1>Третий запрос:</h1>
        {% for k, val in value%}
            {%if val is iterable%}
                {% for ind, v in val%}
                    <li>{{v}}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {%endif%}
    
    {% endif %}
{% endfor %}
</ul>
</body>
</html>